body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-image:url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
    color: white;
}

.task-container {
    background:rgb(51, 52, 51);
    padding: 100px; 
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    max-width: 90vw; 
    background:transparent;
}

#task-list {
    list-style: none;
    padding: 5px 10px;
}

#task-list li {
    padding: 10px;
    background: hsl(165, 9%, 83%);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

#task-list li button {
    background: hsl(332, 75%, 61%);
    color: hsl(287, 53%, 8%);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#task-list li button.edit {
    background: #4caf50;
}
